body {
    color: #3e3e3e;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    line-height: 180%;
}

h2 {
    color: #1d94ff ;
    font-weight: 600;
}

.img-frame {
	border: 7px double #eeeeed;
}

footer {
    background: #3e3e3e;
    text-align: center;
    padding: 10px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.form-group-selector {
    padding-top: 10px;
    padding-left: 20px;
}

.img-frame {
	border: 7px double #eeeeed;
}

section {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 50px;

}

.profile-info {
    line-height: 32px;
}

.profile-info .th {
    font-weight: 700;
    width: 95px;
    margin-right: 10px;
    text-align: right;
    display: block;
    font-size: 14px;
    float: left;
}

.profile-info .td {
    overflow: hidden;
    display: block;
    font-size: 14px;
}
